extends ../basic.pug

block append styles
    link(rel='stylesheet', href=app.getAssetUrl('/css/project-app.min.css'))

block append content
    #project-app
    script(src=app.getAssetUrl('/js/project-app.min.js'))
